/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
    overflow-x: hidden; 
    font-family: 'MADE TOMMY Outline', sans-serif;
    font-family: 'MADE TOMMY', sans-serif;
    

}
.bg-gift{
    background-image: url("./assets/corner.svg");
}
#header-section{
   font-weight:500;
}
.social{
    width: 22.44px;
}
.regular-font{
    font-family: sans-serif;
}
.mantra{
    font-family: 'Mea Culpa', sans-serif;                                               
}
.poppins-font{
    font-family: 'Poppins', sans-serif;
                                                
}
.centered-placeholder::placeholder {
  padding-top: 10px;
  padding-left: 15px;
  }
  .analyst{
    height: 303px;
  }