/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
    overflow-x: hidden; 
    font-family: 'MADE TOMMY Outline', sans-serif;
    font-family: 'MADE TOMMY', sans-serif;

}